<section id="educacion">
    <h1 class="educacion_titulo">Formación académica</h1>
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <ul class="educacion_lista justify-content-center m-3">
                <li class="educacion_item">
                    <h2 class="educacion_subtitle">Master en Fotografía Arte y Técnica</h2>
                    <p class="educacion_text">Universidad Nacional de Salta</p>
                    <p class="educacion_text">Septiembre de 2016 - Junio de 2018</p>
                </li>

                <li class="educacion_item">
                    <h2 class="educacion_subtitle">Grade en Artes Visuales y Danza</h2>
                    <p class="educacion_text">Universidad Católica de Salta</p>
                    <p class="educacion_text">Septiembre de 2011 - Junio de 2015</p>
                </li>

                <li class="educacion_item">
                    <h2 class="educacion_subtitle">Idiomas</h2>
                    <p class="educacion_text">Inglés C1</p>
                    <p class="educacion_text">Italiano B1</p>
                </li>
            </ul>
        </div>
    </div>
</section>