<section id="experiencia">
    <h1 class="experiencia_titulo">Experiencia</h1>

    <div class="experiencia_container">
        <div class="container">
            <div class="eperiencia d-flex flex-column align-items-center">
                <h2 class="experiencia_subtitulo">Fotografo para E-Commerce</h2>
                <p class="experiencia_descripcion">EXIM BUSINESS GLOBAL S.L</p>
                <p class="experiencia_fecha">Enero de 2020 - Actualidad</p>
            </div>

            <div class="experiencia d-flex flex-column align-items-center">
                <h2 class="experiencia_subtitulo">Diseñador gráfico</h2>
                <p class="experiencia_descripcion">Clinmoo Marketing</p>
                <p class="experiencia_fecha">Enero de 2019 - Diciembre de 2019</p>
            </div>

            <div class="experiencia d-flex flex-column align-items-center">
                <h2 class="experiencia_subtitulo">Fotografo de eventos y celebraciones</h2>
                <p class="experiencia_descripcion">Foto Carlos</p>
                <p class="experiencia_fecha">Junio de 2018 - Diciembre de 2018</p>
            </div>
        </div>
    </div>
</section>