<section id="home">
    <div class="home_descripcion">
        <h1 class="home_title">Profesional de la fotografía, con titulación universitaria y experiencia laboral
            amplia como
            fotógrafo en
            diferentes áreas como el e-commerce y la realización de eventos. Busco trabajar en XTS Corp para
            poder
            seguir desarrollándome como fotógrafo en el campo de la fotografía de productos, en el que ya he
            tomado
            contacto, habiendo trabajado con diferentes marcas de ropa durante los últimos 3 años.</h1>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/fotografianro1.jpg" class="d-block w-100" id="carouselImg"
                    alt="fotografia de una casa en la neblina">
            </div>
            <div class="carousel-item">
                <img src="./img/fotografianro2.png" class="d-block w-100" id="carouselImg"
                    alt="fotografia de un parque">
            </div>
            <div class="carousel-item">
                <img src="./img/fotografianro3.jpg" class="d-block w-100" id="carouselImg"
                    alt="fotografia de un fotografo">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container text-center">
        <div class="conocimientos_container row">
            <div class="col-6">
                <div class="conocimientos">
                    <h2 class="conocimientos_title">Conocimientos</h2>
                    <ul class="lista_conocimientos">
                        <li class="conocimientos_item">Photoshop</li>
                        <li class="conocimientos_item">Illustrator</li>
                        <li class="conocimientos_item">Lightroom</li>
                        <li class="conocimientos_item">After Effects</li>
                        <li class="conocimientos_item">Premiere Pro</li>
                        <li class="conocimientos_item">Prestashop</li>
                        <li class="conocimientos_item">Wordpress</li>
                    </ul>
                </div>
            </div>

            <div class="col-6">
                <div class="herramientas">
                    <h3 class="herramientas_title">Mis Herramientas</h3>
                    <ul class="lista_herramientas">
                        <li class="herramientas_item">Camara Pentax K- Mark II</li>
                        <li class="herramientas_item">Objetivos de 50mm y 70mm</li>
                        <li class="herramientas_item">Flash Godox V860II C Speddlite</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>