<section id="sobre">
    <h1 class="sobre_titulo">Sobre mi</h1>
    <div class="sobre_description">
        <div class="container">
            <div class="d-flex flex-column align-items-center">
                <ul class="sobre_lista justify-content-center">
                    <li class="sobre_item">Flexibilidad</li>
                    <p class="sobre_text justify-content-center m-3">Adaptación de shootings a las demandas digitales de
                        cada
                        marca, cada
                        evento y persona. Elaborando fotos
                        de celebraciones, productos web, lifestyle, para diferentes formatos de redes sociales, etc,
                        para
                        más de
                        30 marcas diferentes y cubriendo más de 50 eventos.</p>

                    <li class="sobre_item">Dinamismo</li>
                    <p class="sobre_text justify-content-center m-3">Conocimientos profundos y avanzados en la edición
                        de
                        fotografías
                        mediante herramientas de diseño, edición
                        y maquetación de Adobe como Photoshop, Illustrator y Lightroom, habiendo utilizado estas
                        herramientas
                        para más de 200 diferentes proyectos de Street Marketing, Campañas PPC y SEO.</p>

                    <li class="sobre_item">Trabajo en Equipo</li>
                    <p class="sobre_text justify-content-center m-3">Desarrollo de mi trayectoria laboral, siempre
                        acompañado de
                        profesionales que me orientaron e hicieron
                        desarrollar mis técnicas fotográficas, adaptándolas al aspecto comercial y facilitando el
                        trabajo
                        entre
                        los distintos trabajadores en iluminación, edición y modelos.</p>
                </ul>
            </div>
        </div>
</section>